<h1>List of all messages</h1>
<%= link_to 'New message', new_message_path %>

<ul>
  <% @messages.each do |message| %>
    <li>
      <%= message.content %>
      <%= message.user.email %>
      <%= link_to 'Show', message %>
      <% if policy(message).edit? %>
        <%= link_to 'Edit', edit_message_path(message.id) %>
      <% end %>
      <% if policy(message).destroy? %>
        <%= link_to 'Delete', message, method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @messages %>
