<h1><%= @message.content %></h1>

<% if @message.picture.attached? %>
  <%= image_tag @message.picture.variant(resize: "350x350") %>
<% end %>

<h5><%= @message.user.email %></h5>

<h3>Add comment</h3>
<%= render partial: 'comments/form', locals: { comment: Comment.new, message: @message } %>

<h3>Comments</h3>
<%= render partial: '/messages/comments', collection: @message.comments, as: :comment %>

<%= link_to 'Back to all messages', messages_path %>
